body{
  background-color:#AFAFAF;
}
h2{
  text-align: center;
}
#game{
  /* it's the ratio of the original gameboy color screen x2 */
  width:500px;
  height:480px;
  border:1px solid #000;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  
  /* scale up pixels */
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
img{
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 10px;
}
p{
  color:#ffffff;
  font-size:9px;
}
#debugBar{
  width:500px;
  border:1px solid #000;
  background-color:#000000;
  
  text-align:center;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  
}

#area{
  color: #ffffff;
}

@font-face {font-family: Fixedsys; src: url('../sprites/gui/FSEX300.ttf');}
@font-face {font-family: Gameboy; src: url('../sprites/gui/pokemon_gb-webfont.ttf');}

#gui{
  font-family: Fixedsys;
}